body {
  background-color: white;
}
.mainPage{
  position: relative;
}
.headerPanelImage{
  margin-right: 9%;
  padding-top:5%;
  width:20%;
  height:auto;
}
.headerPanelMainImage{
  padding-top:5%;
  height:35%;
  width:auto;
}

.helpMessagesDiv{
  padding-top:2%;
  font-family: Roboto;
}

.whoAreWeText{
  margin-left:70%;
  font-family: Roboto;
}

.servicesText{
  margin-left:2%;
  font-family: Roboto;
}


